
         <div class="row">
            <div class="col-12 col-md-3">
                   <%= render partial: 'rooms' %>

         </div>   



 		<div class="col">
 			<div class="alert alert-info">
 				<h4 class="alert-heading">
 					Welcome to  Small_Talk_!
 				</h4>

 				<p>
 					Created by Heisler Lemos
 				</p>

 				<hr />

 				<p>
               You can create your private channel with your team


 				</p>
 			</div>
 		</div>
</div>